/* Прелоадер */

.preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader-container {
  display: grid;
  grid-template-columns: 14px 14px 14px;
  grid-template-rows: 20px 20px;
  gap: 8px;
  width: fit-content;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #000;
  animation: pulse 1.5s infinite ease-in-out;
  transform: rotate(45deg);
}

.square:nth-child(1) {
  animation-delay: -0.32s;
  grid-column: 2;
  grid-row: 1;
}

.square:nth-child(2) {
  animation-delay: -0.16s;
  grid-column: 1;
  grid-row: 2;
}

.square:nth-child(3) {
  animation-delay: 0s;
  grid-column: 3;
  grid-row: 2;
}

@keyframes pulse {
  0%, 80%, 100% {
    transform: scale(0.8) rotate(45deg);
    opacity: 0.5;
  }
  40% {
    transform: scale(1.2) rotate(45deg);
    opacity: 1;
  }
}